@charset "UTF-8";

body {
  background: #0f0f0f;
  display: flex;
  width: 100vw;
  height: 100vw;
}

* {
  box-sizing: border-box;
  position: relative;
  cursor: url('../images/cursor.png') 10 10, auto;
}

html::-webkit-scrollbar {
  display: none;
}

#menu {
  /* position: fixed; */
  top: 5vw;
  left: 5vw;
}

#logo1 {
  /* position: absolute; */
  /* top: 10vh;
  left: 10vh; */
  margin-bottom: 10vw;
  display: inline-block;
  text-align: center;
}

#header {
  /* position: absolute; */
  /* top: 20vw;
  left: 5vw; */
  text-decoration: none;
}

li {
  font-family: Rubik-Regular;
  font-size: 40px;
  margin-bottom: 2vw;
  color: white;
  list-style: none;
  text-decoration: none;
}

#redcat {
  background-color: rgb(36, 36, 36);
  border-radius: 1vw;
  height: 3vw;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
}

a:hover {
  color: red;
  transition-duration: 0.2s;
}

#cats {
  left: 24vw;
  height: 100vw;
}

#caty {
  position: fixed;
  left: 40vw;
  will-change: transform;
  transition: 2000ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
#clickk {
  font-family: Rubik-LightI;
  top: 15vw;
  left: 58.5vw;
  position: fixed;
  transition: 0.5s;
}
#clickk:hover {
  transition-duration: 0.5s;
  color: red;
  left: 59vw;
  text-decoration: line-through;
}

#line1 {
  position: fixed;
}

#line2 {
  position: fixed;
}

#subko {
  position: fixed;
  top: 35vw;
  left: 34vw;
}

#info {
  display: none;
  position: fixed;
  top: 28vw;
  backdrop-filter: blur(100px);
  background-color: rgba(27, 27, 27, 0.002);
  border-radius: 1vw;
  height: 20vw;
  padding: 2.5vw;
  left: 32vw;
  transition: display 1s;
}

#click:hover {
  cursor: pointer;
}

p {
  font-family: Oswald;
  font-size: 40px;
  color: aliceblue;
  margin-bottom: 2vw;
}
